# Import Dependencies

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import requests

#  Import Url CSV Files

In [9]:
url1="https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/mcD_food_calories.csv"

c1=pd.read_csv(url1)
c1.head()

                                Food  Calories
0                         Side Salad        20
1   Premium McWrap (Grilled Chicken)       190
2  Southwest Salad (Grilled Chicken)       330
3                       Apple Slices        70
4                  Smoothies (small)       215

In [11]:
url2='https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/mcD_food_prices.csv'

c2=pd.read_csv(url2)
c2.head()

                                Food  Price_USD
0                         Side Salad       1.70
1   Premium McWrap (Grilled Chicken)       4.48
2  Southwest Salad (Grilled Chicken)       5.13
3                       Apple Slices       1.07
4                  Smoothies (small)       3.09

# Merge Url CSV files

In [16]:
merged_df = pd.merge(c1, c2, how='left', on='Food')
merged.to_csv('merged.csv', index=False)
merged_df.head()

                                Food  Calories  Price_USD
0                         Side Salad        20       1.70
1   Premium McWrap (Grilled Chicken)       190       4.48
2  Southwest Salad (Grilled Chicken)       330       5.13
3                       Apple Slices        70       1.07
4                  Smoothies (small)       215       3.09

#  Calculate the price per calorie of food

In [46]:
price_per_calorie = round(merged_df["Price_USD"]/merged_df["Calories"], 4)
price_per_calorie.head()

0    0.0850
1    0.0236
2    0.0155
3    0.0153
4    0.0144
dtype: float64

In [51]:
merged_df["Price per Calorie"]= price_per_calorie
merged_df.head(10)

                                 Food  Calories  Price_USD  Price per Calorie
0                          Side Salad        20       1.70             0.0850
1    Premium McWrap (Grilled Chicken)       190       4.48             0.0236
2   Southwest Salad (Grilled Chicken)       330       5.13             0.0155
3                        Apple Slices        70       1.07             0.0153
4                   Smoothies (small)       215       3.09             0.0144
5             Artisan Grilled Chicken       360       4.48             0.0124
6          Egg White Delight McMuffin       250       2.99             0.0120
7                            McDouble       390       4.27             0.0109
8                            McDouble       390       1.49             0.0038
9  Bacon Ranch Salad (Crispy Chicken)       450       4.91             0.0109

# Stack rank the foods from the 'best value' (most calories per dollar*) to 'worst value' (least calories per dollar*)

In [63]:
best_value = merged_df.sort_values(by='Price per Calorie', ascending=False)
best_value.head()

                                Food  Calories  Price_USD  Price per Calorie
0                         Side Salad        20       1.70             0.0850
1   Premium McWrap (Grilled Chicken)       190       4.48             0.0236
2  Southwest Salad (Grilled Chicken)       330       5.13             0.0155
3                       Apple Slices        70       1.07             0.0153
4                  Smoothies (small)       215       3.09             0.0144